<label>Title<input type="text" name="gist[gist_files_attributes][0][name]"
value="<%= model.attributes.gist_files[0].name %>"></label>
<label>Body<input type="text" name="gist[gist_files_attributes][0][body]"
  value="<%= model.attributes.gist_files[0].body %>"></label>
